@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
/* HEADER */
body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin: 0;
}
.container{
    list-style: none;
    text-decoration: none;
    width: 1024px;
    margin: 0 auto;
}
header .container{
    display: flex;
    margin-top: auto;
    padding-top: 30px;

}
header{  
    font-stretch: ultra-condensed;  
    letter-spacing: -0.6px;
    font-family: Lato, sans-serif;
    font-size: bold;
    background-color: #2d303a;
    color: #ffffff;
    height: 90px;
    position: relative;
    box-shadow: 0px 0px 0 5px #323746

}

.header-nav{
    
    margin-top: 8px;
    width: 420px;
}
header .header-nav a{
    font-stretch: ultra-condensed;
    font-weight: bold;
    font-size: 12.4px;
    text-decoration: none;
    color: #ffffff;
   /* margin-right: 29px;*/
}
.logo{
    margin-left: 40px;
    margin-right: 453px;
}
.logo h1 {
   
    font-size: 25.1px;
    margin: 0;
}
.header-logo-star {
    color: #f06c64;
}
.header-dotted-link::after{
    content: '\00B7';
    margin: 0px 12.7px;
    display: inline-block;
    color: #494e62;
    
}
header .header-nav a:hover {
    color: #f06c64;
    transition: 0.2s;

}
/* MAIN */
.main-slider {
    margin-bottom: 6px;
    box-shadow: 0 0 0 6px #ea676b;
    margin-top: 6px;
    height: 593px;
    background-color: #f06c64;
}
/* SLIDER */
.main-slider{
    box-shadow:   0 0px 0px 6px  #ea676b;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-slider-left-arrow , .main-slider-right-arrow {
    display: inline-block;
    position: absolute;
    top: 375px;
}
.main-slider-left-arrow , .main-slider-right-arrow{
    cursor: pointer;
}
.main-slider-right-arrow {
    right: 0;
}
.slide{
    display: inline-block;
    margin: 0 108px;
}
.vertical-phone {
    margin-top: 52px;
    margin-left: 4px;
    
}
.horizontal-phone {
    margin-bottom: 122px;
    margin-left: 68px;
}
.main-slider-left-arrow , .main-slider-right-arrow {
    background: none;
    border: none;

}
.main-slider-left-arrow{
 margin-left: 35px;
}
.main-slider-right-arrow{
    margin-right: 136px;
}
/* FEATURES */

.features {
    font-size: 18px;
    font-family: Lato Light , sans-serif;
    color: #666d89;
    
    margin-top: 0;
    background-color: #f2f2f2;
}
.main-features-info {
    width: 965px;
    padding-top: 61px;
    padding-left: 40px;
}
.main-features-info h1 {
    font-family: Lato black, sans-serif;
    font-weight: bold;
    margin-bottom: 19px;
    font-size: 31px;
    letter-spacing: -0.5px;
}
.main-features-info p{
    font-size: 18px;
    line-height: 29px;
}
.feature-object h2{
    font-family: Lato Black, sans-serif;
    font-size: 18px;
    
}

    
.feature-object{
    
    display: flex;
    margin: 0 10px;
   display: inline-block;
   width: 30%;
   margin-bottom: 20px;
  
    
}
.feature-object img{
    align-self: start;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
    width: 20%;
    
}
.feature-object p{
    display: inline-block;
}
.feature-object-info{
    margin-left: 7px;
    display: inline-block;
    width: 70%;
}
.feature-object-info h2{
    margin: 0;
    font-size: 18px;
    display: inline-block;
}
.feature-object-info p {
    font-family: Lato regular, sans-serif;
    font-size: 12px;
    margin: 0;
    margin-top:10px;
    line-height: 21px;
}
.features-list {
    margin-left: 30px;
    margin-top: 42px;
}
.feture-object-second-floor img{
    margin-bottom: 20px;

}
.feture-object-second-floor{
    margin-top: 10px;
}
/* FEATURES.................. */
/* MAIN-PORTFOLIO */
/* MAKE UL-S GREAT */
.portfolio {
    background-color: #2d303a;
    font-family: 'Lato Black', sans-serif;
    color: #767e9e;
}
.portfolio .portfolio-wrap {
    margin-left: 39px;
    
}
.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.portfolio-gallery ul>li , .portfolio-categorys ul>li {
    text-decoration: none;
    display: inline-block;
    list-style: none;
   
}
.portfolio-gallery ul li {
    display: inline-block;
    
    flex-basis: 23%;
}
/* H1 + P ON PORTFOLIO */
.portfolio h1 {
    font-size: 30px;
    padding-top: 60px;
    margin-bottom: 25px;

}
.portfolio p {
    font-family: Lato Light, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}
/* CATEGORYS UL */
.portfolio-categorys {
    font-size: 12px;
    margin-bottom: 18px;
}
.portfolio-categorys ul>li {
    cursor: pointer;
    line-height: 18px;
    margin-right: 10px;
    padding: 1px 6px;
    border: 1px solid #666d89;
    border-radius: 6px;
}
.portfolio-categorys ul>li:hover {
    border-color: #c5c5c5;
    color: #dedede;
    transition: 0.3s;
}
/* GALLERY */
.portfolio  {
    border-bottom: 6px solid #323746;
}
.portfolio-wrap {
    max-width: 940px;
    padding-bottom: 60px;
    
}
.portfolio-gallery ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    gap: 20px;

}
/* END OF PORTFOLIO BLOCK */
/* START OF ABOUT-US-INFORMATION */
.about-us {
    color: #666d89;
    background-color: #f2f2f2;
    margin-top: 0;
    padding-bottom: 64px;
    border-bottom: 6px solid #ffffff;
    
}
.about-us ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.about-us button {
    padding: 0;
    background: none;
    border: none;
}
.about-us_information h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 60px;
}
.about-us > .container {
    max-width: 940px;
}
.about-us_information p {
    
    margin: 0;
    letter-spacing: 0.15px;
    font-weight: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
}
/* CALLBACK */
.callback {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
}
.callback h2 {
    font-family: Lato Black, sans-serif;
    font-size: 18px;
}
.callback p {
    letter-spacing: -0.1px;
    margin-top: 9px;
    line-height: 21.58px;
    font-family: Lato Regular;
    font-size: 12px;
    margin-bottom: 23px;
}
.callback .card {
    margin-right: 20px;
}
.callback .card h2 {
    margin: 0;
    margin-top: 14px ;
    margin-bottom: 0px;
}
.card ul>li {
    margin-right: 10px;
}
/* QUOTE */
.quote {
    
    background-color: #f06c64;
    color: #f0d8d9;
    font-size: 18px;
    padding-bottom: 68px;
    border-bottom: 5px solid #ea676b;

}
.quote .container {
    width: 940px;
}
.quote h2 {
    font-size: 30px;
    margin: 0;
    padding-top: 60px;
}
.quote p {
    line-height: 30px;
    font-family: Lato Light;
    letter-spacing: 0.15px;
    margin-bottom: 45px;
}
.quote-form input {
    padding-left: 10px;
    color: #f08587;
    margin-bottom: 17px;
    font-size: 12px;
    width: 610px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
   

} 
.quote-form input::placeholder , .quote-form textarea::placeholder {
    color: #f08587;
    font-size: 12px;
    margin: auto 0;
    padding-left: 5px;
}
.quote-form input:focus ,  .quote-form textarea:focus{
    transition: 0.3s;
    bottom: 1px solid #fff;
    background-color: #d16a65;
    color: wheat;
    border: none;
    outline: none;
}
.quote-form textarea::placeholder {
    padding-top: 0px;
}
.quote textarea {
    padding-top: 10px;
    padding-left: 10px;
    color: #f08587;
    text-decoration: none;
    display: block;
    font-size: 12px;
    width: 610px;
    height: 190px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;

}
.quote-flex-wrap {
    display: flex;
}
.quote-info {
    margin-left: 17px;
}
.quote-info h3 {
    font-size: 18px;
    margin: 0;
}
.quote-info p {
   word-break: break-all;
   letter-spacing: -0.05px;
    margin: 0;
    margin-top: 8px;
    font-family: Lato Regular;
    font-size: 12px;
    line-height: 21.56px;
    display: inline-block;
}
.quote-info ul {
    margin-top: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.quote-info ul li {
    height: 20px;
    margin: 0 auto;
}
.quote-info ul li{
    margin-top: 2px;
}
.quote-info-list {
    margin-top: 17px;
}
.quote-info-img-wrap {
    display: inline-block;
    width: 20px;

}
.geo-wrap img {
    margin-left: 3px;
}
footer{
   
    height: 80px;
    background-color: #2d303a;
    color: #484c5f;
    
}
footer .container {
    
    width: 938px;
    display: flex;
    justify-content: space-between;
    
}
footer .social-media img {
    margin-top: 0;
    padding-top: 22px;
    margin-right: 4px;
}
footer .copyright {
    padding-top: 30px;
}
